.shopping-card {
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    .course-details {
        .course-title {
            font-family: Inter;
            font-weight: 600;
            font-size: 18px;
            line-height: 160%;
            letter-spacing: 0%;
            vertical-align: middle;
            width: 248;
            height: 29;
            color: #000000;

        }

        .course-author {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            width: 84;
            height: 21;
            color: #334155;

        }
    }

    .course-price {
        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: right;
        color: #000000;
        width: 76;
        height: 29;

    }

    img {
        object-fit: cover;
        border-radius: 0.5rem;
    }
    
    .badge {
        //   font-size: 0.75rem;
        width: 50;
        height: 25;
        gap: 10px;
        padding: 10px;
        background:  #F232BD;
    
    }
}

.order{
    // display: flex;
    overflow: hidden;
    .order-details {
        max-width: 330px;
        height: 213px;
        border-radius: 8px;
        border-width: 1px;
        background: #F8FAFC;
    
        .list{
            border-radius: 8px;
            border-width: 1px;
            // border: 1px solid #E2E8F0;
            padding: 0px;
    
            .currency{
                font-family: Inter;
                font-weight: 600;
                font-size: 18px;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: right;
    
                color: #0F172A;
    
    
            }
            .discount{}
            .tax{}
        }
    }
    .btn{
        // width: 330px;
        max-width: 330px;

    }

}

