<div class="container py-4">
    <h3 class="text-center fw-bold mb-4">Top Courses</h3>
  
    <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
      @for (category of categories; track $index) {
        <button class="btn"
                [ngClass]="{
                  'btn-primary text-white': selectedCategory() === category,
                  'btn-gray  text-white': selectedCategory() !== category
                }"
                (click)="selectCategory(category)">
          {{ category }}
        </button>
      }
    </div>
  
    <div class="row gy-4">
        @for (course of filteredCourses; track $index ;let i = $index ;let count = $count) {
            <div class="courses col-12 col-md-6 col-lg-4 col-xl-3" >
                <div class="card h-100 course-card">
                  <div class="position-relative">
                    <img [src]="course.image" class="card-img-top" [alt]="course.title" height="150px" loading="lazy">
                    <span *ngIf="course.discount" class="badge bg-pink position-absolute top-0 end-0 m-2">- ${{ course.discount }}</span>
                    <div class="badge bg-wight position-absolute bottom-0 start-0 m-2">
                      <i class="bi bi-cart3  {{cartService.existsInCart(course) ?'text-danger':''}}" (click)="cartService.addToCart(course)"></i>
                    </div>
                  </div>
                  <a class="card-body" [routerLink]="[ '/courses-details', course.id ]">
                    <span class="fw-bold text-primary">${{ course.price }}</span>
                    <span class="badge bg-primary position-absolute end-0 ">{{ course.category }}</span>
                    <h6 class="fw-bold mt-2">{{ course.title }}</h6>
                    <p class="text-muted mb-1">By {{ course.author }}</p>
                    <div class="mb-1">
                      <span class="text-warning">★ ★ ★ ★ ★</span> 
                      <span class="ratings">({{ course.ratingCount }} Ratings)</span>
                    </div>
                    <p class="details small mb-0">
                      {{ course.hours }} Total Hours. {{ course.lectures }} Lectures. {{ course.level }}
                    </p>
                  </a>
                </div>
              </div>
        }@empty {
          <div class="text-warning badge col-12">
            {{"No Result Found"}}

          </div>
        }

      
    </div>
  </div>
  