<footer class="footer py-5">
    <div class="row align-items-start">

        <div class="col-md-2 mb-4">
            <img src="./icons/logo 2.svg" alt="Logo" loading="lazy">

        </div>
        <div class="col-md-4 mb-4">
            <p class="footer-desc">
                Empowering learners through accessible and engaging online education.<br>
                Byway is a leading online learning platform dedicated to providing high-quality, flexible, and
                affordable educational experiences.
            </p>
        </div>


        <div class="col-md-3 mb-4">
            <h6 class="footer-title">Get Help</h6>
            <ul class="list-unstyled small">
                <li><a href="#" class="footer-link">Contact Us</a></li>
                <li><a href="#" class="footer-link">Latest Articles</a></li>
                <li><a href="#" class="footer-link">FAQ</a></li>
            </ul>
        </div>


        <div class="col-md-3 mb-4">
            <h6 class="footer-title">Contact Us</h6>
            <p class="small mb-1">Address: 123 Main Street, Anytown, CA 12345</p>
            <p class="small mb-1">Tel: +(123) 456-7890</p>
            <p class="small mb-2">{{"Mail: bywayedu@webkul.in"}}</p>
            <div class="social-icons d-flex gap-3">
                <a >
                    <img src="./icons/github.svg" alt=""  loading="lazy">
                </a>
                <a >
                    <img src="./icons/c.svg" alt="" loading="lazy">
                </a>
                <a ><img src="./icons/google.svg" alt="" loading="lazy"></a>
                
                <a ><img src="./icons/twitter.svg" alt="" loading="lazy"></a>
            </div>
        </div>
    </div>
</footer>