<section id="courses-details">
    <div class="row m-0 p-0">
        <div class="col-md-8 pt-2 left-card">
            <div class="description">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
                    </ol>
                </nav>
                <h2 class="fw-bold description-title">{{ course.title }}</h2>
                <p class="text-muted description-text">{{ course.description }}</p>

                <div class="d-flex align-items-center gap-2 mb-2">
                    <span class="text-warning">★★★★★</span>
                    <span> | {{ course.totalHours }} Total Hours · {{ course.lectures }} Lectures · {{ course.level
                        }}</span>
                </div>

                <div class="d-flex align-items-center gap-2">
                    <img src="https://i.pravatar.cc/30" class="rounded-circle" alt="author" width="30">
                    <small>Created by <strong>{{ course.author }}</strong></small>
                </div>

                <p class="mt-2">
                    <strong>
                        <a>
                            <i class="bi bi-globe"></i>
                        </a>
                    </strong> {{ lang }}
                </p>
            </div>

        </div>

        <div class="col-md-4 right-card m-0 p-0">
            <div class="card p-3 mb-3">
                <img [src]="course.imageUrl" class="card-img-top mb-3" alt="Course Image">
                <div class="d-flex align-items-center gap-2">
                    <h4 class="fw-bold mb-0">{{ price }}</h4>
                    <small class="text-decoration-line-through text-muted">{{ originalPrice | currency:'USD' }}</small>
                    <span class="text-success">{{ discount | currency:'USD'  }}</span>
                </div>

                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-primary" (click)="cartService.addToCart(course)">Add To Cart</button>
                    <button class="btn btn-outline-primary" routerLink="/shopping-cart" >Buy Now</button>
                </div>
                <hr class="split">
                <div class=" ">
                    <span class="share">share</span>
                    <div class="social-icons d-flex gap-3">
                        <a>
                            <img src="./icons/github.svg" alt="">
                        </a>
                        <a>
                            <img src="./icons/c.svg" alt="">
                        </a>
                        <a><img src="./icons/google.svg" alt=""></a>

                        <a><img src="./icons/twitter.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>