<section class="hero-section container py-5 px-3 px-md-5">
    <div class="row">
        <!-- Left Side -->
        <div class="col-lg-6">
            <h1 class="hero-title mb-3">
                Better <span class="highlight">Insights</span> For<br />
                Business <span class="highlight">Growth </span>
            </h1>
            <div class="Left-hero-circles-container">
                <div class="circles-container">
                    <div class="ring ring-1"></div>
                    <div class="ring ring-2"></div>
                    <div class="ring ring-3"></div>
                    <div class="ring ring-4"></div>
                </div>
            </div>
            <p class="hero-text mb-4">
                Learn UI-UX Design skills with weekend UX. The latest online <br class="d-none d-md-block" />
                learning system and material that help your knowledge growing.
            </p>
            <button class="btn btn-primary btn-lg px-4">Get Started</button>
        </div>

        <!-- Right Side -->
        <div class="col-lg-6 mt-5 mt-lg-0 position-relative d-flex justify-content-center">
            <div class="right-hero-container">

                <div class="circles-container">

                    <div class="outer-circle"></div>
                    <div class="ring ring-0"></div>

                    <div class="student-image-container">
                        <img src="./icons/young-student.svg" alt="Student" class="img-fluid student-image" loading="lazy"/>
                    </div>

                    <span class="dot dot-sm"></span>
                    <span class="dot dot-md"></span>

                    <div class="ring ring-1"></div>
                    <div class="ring ring-2"></div>
                    <div class="ring ring-3"></div>
                </div>

            </div>
            <!-- Badges -->
           
        </div>
    </div>
</section>

<section class="media-gallery">
<app-media-gallery/>
</section>

<section class="top-courses">
    <app-top-courses/>
</section>